.topic{
    text-align: center;
    font-size: 1.5rem;
    margin: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.table-center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  